In [2]:
# Pacotes
import pandas as pd
import numpy as np

## 0. Lendo os dados e criando base para análise

#### 0.1. Dados do ENEM 2017

In [3]:
# Lendo Pickle do ENEM 2017 (este arquivo vem do csv de microdados do Enem 2017, filtrado para mostrar apenas alunos do ensino médio regular)
df = pd.read_pickle("pickles/df_enem_microdados_2017_pickle")

In [5]:
list(df)

['NU_INSCRICAO',
 'NU_ANO',
 'CO_MUNICIPIO_RESIDENCIA',
 'NO_MUNICIPIO_RESIDENCIA',
 'CO_UF_RESIDENCIA',
 'SG_UF_RESIDENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'CO_MUNICIPIO_NASCIMENTO',
 'NO_MUNICIPIO_NASCIMENTO',
 'CO_UF_NASCIMENTO',
 'SG_UF_NASCIMENTO',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_ESCOLA',
 'CO_MUNICIPIO_ESC',
 'NO_MUNICIPIO_ESC',
 'CO_UF_ESC',
 'SG_UF_ESC',
 'TP_DEPENDENCIA_ADM_ESC',
 'TP_LOCALIZACAO_ESC',
 'TP_SIT_FUNC_ESC',
 'IN_BAIXA_VISAO',
 'IN_CEGUEIRA',
 'IN_SURDEZ',
 'IN_DEFICIENCIA_AUDITIVA',
 'IN_SURDO_CEGUEIRA',
 'IN_DEFICIENCIA_FISICA',
 'IN_DEFICIENCIA_MENTAL',
 'IN_DEFICIT_ATENCAO',
 'IN_DISLEXIA',
 'IN_DISCALCULIA',
 'IN_AUTISMO',
 'IN_VISAO_MONOCULAR',
 'IN_OUTRA_DEF',
 'IN_GESTANTE',
 'IN_LACTANTE',
 'IN_IDOSO',
 'IN_ESTUDA_CLASSE_HOSPITALAR',
 'IN_SEM_RECURSO',
 'IN_BRAILLE',
 'IN_AMPLIADA_24',
 'IN_AMPLIADA_18',
 'IN_LEDOR',
 'IN_ACESSO',
 'IN_TRANSCRICAO',
 'IN_LIBRAS',
 'IN_LEITURA_LABIAL',
 'IN_MESA_CADEIRA_RODAS',
 'IN_MESA_CADEIRA_SEPARADA',
 'IN_APOIO_PERNA',
 'IN_GUIA_INTERPRETE',
 'IN_COMPUTADOR',
 'IN_CADEIRA_ESPECIAL',
 'IN_CADEIRA_CANHOTO',
 'IN_CADEIRA_ACOLCHOADA',
 'IN_PROVA_DEITADO',
 'IN_MOBILIARIO_OBESO',
 'IN_LAMINA_OVERLAY',
 'IN_PROTETOR_AURICULAR',
 'IN_MEDIDOR_GLICOSE',
 'IN_MAQUINA_BRAILE',
 'IN_SOROBAN',
 'IN_MARCA_PASSO',
 'IN_SONDA',
 'IN_MEDICAMENTOS',
 'IN_SALA_INDIVIDUAL',
 'IN_SALA_ESPECIAL',
 'IN_SALA_ACOMPANHANTE',
 'IN_MOBILIARIO_ESPECIFICO',
 'IN_MATERIAL_ESPECIFICO',
 'IN_NOME_SOCIAL',
 'CO_MUNICIPIO_PROVA',
 'NO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'SG_UF_PROVA',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'CO_PROVA_CN',
 'CO_PROVA_CH',
 'CO_PROVA_LC',
 'CO_PROVA_MT',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'NU_NOTA_MT',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TP_LINGUA',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q005',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023',
 'Q024',
 'Q025',
 'Q026',
 'Q027\n']

In [6]:
df[["TP_ENSINO"]].head()

  TP_ENSINO
0         1
1         1
2         1
3         1
4         1

In [7]:
len(df)

1583756

In [8]:
def sem_nota(x):
    if x == '':
        y = 1
    else:
        y = 0
    return y

In [9]:
for i in ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']:
    df[i+'_sem_nota'] = df[i].map(sem_nota)

In [10]:
df.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q023,Q024,Q025,Q026,Q027,NU_NOTA_CN_sem_nota,NU_NOTA_CH_sem_nota,NU_NOTA_LC_sem_nota,NU_NOTA_MT_sem_nota,NU_NOTA_REDACAO_sem_nota
0,170001663652,2017,1301902,Itacoatiara,13,AM,17,M,0,3,...,B,E,B,B,B\n,0,0,0,0,0
1,170001665543,2017,3550308,São Paulo,35,SP,17,F,0,3,...,B,B,B,B,A\n,0,0,0,0,0
2,170001663747,2017,3545803,Santa Bárbara d'Oeste,35,SP,18,F,0,2,...,A,B,B,B,A\n,0,0,0,0,0
3,170003333557,2017,2919157,Lapão,29,BA,17,M,0,1,...,A,B,A,B,E\n,0,0,0,0,0
4,170001663748,2017,3512902,Cosmorama,35,SP,17,M,0,2,...,A,C,B,B,A\n,0,0,0,0,0

In [11]:
df['qtde_provas_sem_nota'] = df['NU_NOTA_CN_sem_nota'] + df['NU_NOTA_CH_sem_nota'] + df['NU_NOTA_LC_sem_nota'] + df['NU_NOTA_MT_sem_nota'] + df['NU_NOTA_REDACAO_sem_nota']

In [12]:
df['qtde_provas_sem_nota'].max()

5

In [13]:
df = df[df['qtde_provas_sem_nota'] < 5]

In [14]:
len(df)

1346866

In [15]:
def to_float(x):
    if x == '':
        y = 0
    else:
        y = float(x)
    return y

In [16]:
for i in ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']:
    df[i] = df[i].map(to_float)

In [17]:
df['media_objetivas_aluno'] = df[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT']].mean(axis = 1, numeric_only = True)
df['media_geral_aluno'] = df[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']].mean(axis = 1, numeric_only = True)

In [18]:
def to_float_1(x):
    if x == '':
        y = 1
    else:
        y = float(x)
    return y

In [19]:
def classe_renda(x):
    if x == '':
        y = np.NaN
    elif x == 'A':
        y = 0
    elif x == 'B':
        y = 0
    elif x == 'C':
        y = 937.01
    elif x == 'D':
        y = 1405.51
    elif x == 'E':
        y = 1874.01
    elif x == 'F':
        y = 2342.51
    elif x == 'G':
        y = 2811.01
    elif x == 'H':
        y = 3748.01
    elif x == 'I':
        y = 4685.01
    elif x == 'J':
        y = 5622.01
    elif x == 'K':
        y = 6559.01
    elif x == 'L':
        y = 7496.01
    elif x == 'M':
        y = 8433.01
    elif x == 'N':
        y = 9370.01
    elif x == 'O':
        y = 11244.01
    elif x == 'P':
        y = 14055.01
    else:
        y = 18740.00
    return y

In [20]:
df['num_pessoas_domicilio'] = df['Q005'].map(to_float_1)

In [21]:
# Criando variável de faixa de renda familiar de acordo com o piso da classe
df['faixa_renda'] = df['Q006'].map(classe_renda)

In [22]:
df['renda_per_capita'] = df['faixa_renda']/df['num_pessoas_domicilio']

In [23]:
# Criando dummies que indicam notas acima de 600 ou 700
def dummy_600 (x):
    if x >= 600:
        y = 1
    else:
        y = 0
    return y

def dummy_700 (x):
    if x >= 700:
        y = 1
    else:
        y = 0
    return y

df['dummy_600'] = df['media_geral_aluno'].map(dummy_600)
df['dummy_700'] = df['media_geral_aluno'].map(dummy_700)

In [24]:
# Atualizando o pickle dos microdados
df.to_pickle('pickles/df_enem_microdados_2017_pickle')

In [60]:
# Criando base agregada por escola, mostrando a média da nota nas objetivas, a média da renda percapita familiar e o número de estudantes.
df_enem_2017_escolas = df.groupby(['CO_ESCOLA','CO_UF_ESC','SG_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','TP_SIT_FUNC_ESC']).agg({'media_objetivas_aluno': ['mean', 'median'], 'media_geral_aluno': ['mean', 'median'], 'NU_NOTA_MT': ['mean', 'median'], 'NU_NOTA_REDACAO': ['mean', 'median'], 'renda_per_capita': ['mean', 'median'], 'NU_INSCRICAO':['count'], 'dummy_600':['sum'], 'dummy_700':['sum']}).reset_index()

In [61]:
df_enem_2017_escolas.columns = ['CO_ESCOLA','CO_UF_ESC','SG_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','TP_SIT_FUNC_ESC','media_objetivas_aluno_media','media_objetivas_aluno_mediana','media_geral_aluno_media','media_geral_aluno_mediana','nota_matematica_media','nota_matematica_mediana','nota_redacao_media','nota_redacao_mediana','renda_per_capita_media','renda_per_capita_mediana','numero_de_alunos_enem', 'num_alunos_acima_600', 'num_alunos_acima_700']

In [62]:
list(df_enem_2017_escolas)

['CO_ESCOLA',
 'CO_UF_ESC',
 'SG_UF_ESC',
 'TP_DEPENDENCIA_ADM_ESC',
 'TP_LOCALIZACAO_ESC',
 'TP_SIT_FUNC_ESC',
 'media_objetivas_aluno_media',
 'media_objetivas_aluno_mediana',
 'media_geral_aluno_media',
 'media_geral_aluno_mediana',
 'nota_matematica_media',
 'nota_matematica_mediana',
 'nota_redacao_media',
 'nota_redacao_mediana',
 'renda_per_capita_media',
 'renda_per_capita_mediana',
 'numero_de_alunos_enem',
 'num_alunos_acima_600',
 'num_alunos_acima_700']

In [63]:
len(df_enem_2017_escolas)

30662

In [64]:
# Variáveis de percentual de alunos com notas acima de 600 ou 700
df_enem_2017_escolas['percentual_alunos_acima_600'] = df_enem_2017_escolas['num_alunos_acima_600']/df_enem_2017_escolas['numero_de_alunos_enem']
df_enem_2017_escolas['percentual_alunos_acima_700'] = df_enem_2017_escolas['num_alunos_acima_700']/df_enem_2017_escolas['numero_de_alunos_enem']

In [65]:
df_enem_2017_escolas_filtrado = df_enem_2017_escolas[df_enem_2017_escolas['CO_ESCOLA'] != '']
#df_enem_2017_escolas_filtrado = df_enem_2017_escolas_filtrado[df_enem_2017_escolas_filtrado['numero_de_alunos_enem'] > 10].reset_index()

In [66]:
len(df_enem_2017_escolas_filtrado)

30662

In [67]:
df_enem_2017_escolas_filtrado['CO_ESCOLA_int'] = [int(k) for k in df_enem_2017_escolas_filtrado['CO_ESCOLA'].tolist()]

In [68]:
df_enem_2017_escolas_filtrado.head()

,CO_ESCOLA,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,media_objetivas_aluno_media,media_objetivas_aluno_mediana,media_geral_aluno_media,media_geral_aluno_mediana,...,nota_redacao_media,nota_redacao_mediana,renda_per_capita_media,renda_per_capita_mediana,numero_de_alunos_enem,num_alunos_acima_600,num_alunos_acima_700,percentual_alunos_acima_600,percentual_alunos_acima_700,CO_ESCOLA_int
0,11000058,11,RO,4,1,1,617.080140,624.7250,631.794953,636.14,...,690.654206,680.0,2082.054422,1874.003333,107,76,12,0.710280,0.112150,11000058
1,11000171,11,RO,4,1,1,513.841667,503.0000,524.851111,536.94,...,568.888889,560.0,1032.438037,468.505000,9,1,0,0.111111,0.000000,11000171
2,11000180,11,RO,4,1,2,490.975000,490.9750,480.780000,480.78,...,440.000000,440.0,468.501458,468.501458,2,0,0,0.000000,0.000000,11000180
3,11000198,11,RO,4,1,1,548.647283,567.3875,568.396087,592.20,...,647.391304,660.0,1992.485670,1624.136000,46,18,0,0.391304,0.000000,11000198
4,11000244,11,RO,4,1,1,547.257778,543.9250,562.872889,559.66,...,625.333333,600.0,1260.432459,937.002000,45,13,2,0.288889,0.044444,11000244

In [69]:
df_enem_2017_escolas_filtrado.to_pickle("pickles/df_enem_md_agg_escola_2017_pickle")