## Tentando aqui carregar as tebelas gigantes de matr√≠culas do Censo Escolar 2016

In [1]:
import pandas as pd

#### Centro-Oeste

In [2]:
# Centro-Oeste
filepath = 'planilhas/censo_escolar/MATRICULA_CO.csv'  
with open(filepath, encoding = "ISO-8859-1") as fp: 
    lista_censo_matriculas_CO = []
    for cnt, line in enumerate(fp):
        if cnt == 0:
            colunas = line.split("|")
        else:
            lista_censo_matriculas_CO.append(line.split("|"))
        if cnt % 100000 == 0:
            print(cnt)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000

In [3]:
len(lista_censo_matriculas_CO)

4052452

In [4]:
df_censo_2017_matriculas_CO = pd.DataFrame(lista_censo_matriculas_CO,columns=colunas)

In [5]:
df_censo_2017_matriculas_CO = df_censo_2017_matriculas_CO[['CO_ENTIDADE', 'TP_ETAPA_ENSINO', 'ID_MATRICULA']].drop_duplicates()

In [7]:
df_censo_2017_matriculas_CO_agrupado = df_censo_2017_matriculas_CO.groupby(['CO_ENTIDADE', 'TP_ETAPA_ENSINO']).agg({'ID_MATRICULA':['count']}).reset_index()

In [9]:
len(df_censo_2017_matriculas_CO_agrupado)

67822

In [10]:
df_censo_2017_matriculas_CO_agrupado.to_pickle('df_censo_2017_matriculas_CO_agrupado')

In [12]:
lista_censo_matriculas_CO = []
del(df_censo_2017_matriculas_CO)

#### Norte

In [13]:
# Norte
filepath = 'planilhas/censo_escolar/MATRICULA_NORTE.csv'  
with open(filepath, encoding = "ISO-8859-1") as fp: 
    lista_censo_matriculas_NO = []
    for cnt, line in enumerate(fp):
        if cnt == 0:
            colunas = line.split("|")
        else:
            lista_censo_matriculas_NO.append(line.split("|"))
        if cnt % 100000 == 0:
            print(cnt)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000

In [14]:
len(lista_censo_matriculas_NO)

5621937

In [15]:
df_censo_2017_matriculas_NO = pd.DataFrame(lista_censo_matriculas_NO,columns=colunas)

In [16]:
df_censo_2017_matriculas_NO = df_censo_2017_matriculas_NO[['CO_ENTIDADE', 'TP_ETAPA_ENSINO', 'ID_MATRICULA']].drop_duplicates()

In [17]:
df_censo_2017_matriculas_NO_agrupado = df_censo_2017_matriculas_NO.groupby(['CO_ENTIDADE', 'TP_ETAPA_ENSINO']).agg({'ID_MATRICULA':['count']}).reset_index()

In [18]:
len(df_censo_2017_matriculas_NO_agrupado)

150318

In [20]:
del(df_censo_2017_matriculas_NO)

In [21]:
lista_censo_matriculas_NO = []
df_censo_2017_matriculas_NO_agrupado.to_pickle('df_censo_2017_matriculas_NO_agrupado')

#### Sul

In [22]:
# Sul
filepath = 'planilhas/censo_escolar/MATRICULA_SUL.csv'  
with open(filepath, encoding = "ISO-8859-1") as fp: 
    lista_censo_matriculas_SUL = []
    for cnt, line in enumerate(fp):
        if cnt == 0:
            colunas = line.split("|")
        else:
            lista_censo_matriculas_SUL.append(line.split("|"))
        if cnt % 100000 == 0:
            print(cnt)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000

In [23]:
len(lista_censo_matriculas_SUL)

7112070

In [24]:
df_censo_2017_matriculas_SUL = pd.DataFrame(lista_censo_matriculas_SUL,columns=colunas)

In [23]:
df_censo_2017_matriculas_SUL = df_censo_2017_matriculas_SUL[['CO_ENTIDADE', 'TP_ETAPA_ENSINO', 'ID_MATRICULA']].drop_duplicates()

In [25]:
df_censo_2017_matriculas_SUL_agrupado = df_censo_2017_matriculas_SUL.groupby(['CO_ENTIDADE', 'TP_ETAPA_ENSINO']).agg({'ID_MATRICULA':['count']}).reset_index()

In [26]:
len(df_censo_2017_matriculas_SUL_agrupado)

151731

In [27]:
df_censo_2017_matriculas_SUL_agrupado.to_pickle('df_censo_2017_matriculas_SUL_agrupado')

In [28]:
lista_censo_matriculas_SUL = []
del(df_censo_2017_matriculas_SUL)

#### Nordeste

In [29]:
# Nordeste
filepath = 'planilhas/censo_escolar/MATRICULA_NORDESTE.csv'  
with open(filepath, encoding = "ISO-8859-1") as fp: 
    lista_censo_matriculas_NE = []
    for cnt, line in enumerate(fp):
        if cnt == 0:
            colunas = line.split("|")
            colunas_filtro = [k for k in colunas if k in ['CO_ENTIDADE', 'TP_ETAPA_ENSINO', 'ID_MATRICULA']]
            colunas_filtro_ix = [colunas.index(colunas_filtro[0]),colunas.index(colunas_filtro[1]),colunas.index(colunas_filtro[2])]
            
        else:
            lista_censo_matriculas_NE.append([line.split("|")[colunas_filtro_ix[0]], line.split("|")[colunas_filtro_ix[1]], line.split("|")[colunas_filtro_ix[2]]])
        if cnt % 500000 == 0:
            print(cnt)

0
500000
1000000
1500000
2000000
2500000
3000000
3500000
4000000
4500000
5000000
5500000
6000000
6500000
7000000
7500000
8000000
8500000
9000000
9500000
10000000
10500000
11000000
11500000
12000000
12500000
13000000
13500000
14000000
14500000
15000000
15500000
16000000

In [30]:
len(lista_censo_matriculas_NE)

16344437

In [31]:
df_censo_2017_matriculas_NE = pd.DataFrame(lista_censo_matriculas_NE,columns=colunas_filtro)

In [32]:
df_censo_2017_matriculas_NE = df_censo_2017_matriculas_NE[['CO_ENTIDADE', 'TP_ETAPA_ENSINO', 'ID_MATRICULA']].drop_duplicates()

In [33]:
df_censo_2017_matriculas_NE_agrupado = df_censo_2017_matriculas_NE.groupby(['CO_ENTIDADE', 'TP_ETAPA_ENSINO']).agg({'ID_MATRICULA':['count']}).reset_index()

In [34]:
len(df_censo_2017_matriculas_NE_agrupado)

426542

In [35]:
df_censo_2017_matriculas_NE_agrupado.to_pickle('df_censo_2017_matriculas_NE_agrupado')

In [36]:
lista_censo_matriculas_NE = []
del(df_censo_2017_matriculas_NE)

#### Sudeste

In [37]:
# Sudeste
filepath = 'planilhas/censo_escolar/MATRICULA_SUDESTE.csv'  
with open(filepath, encoding = "ISO-8859-1") as fp: 
    lista_censo_matriculas_SE = []
    for cnt, line in enumerate(fp):
        if cnt == 0:
            colunas = line.split("|")
            colunas_filtro = [k for k in colunas if k in ['CO_ENTIDADE', 'TP_ETAPA_ENSINO', 'ID_MATRICULA']]
            colunas_filtro_ix = [colunas.index(colunas_filtro[0]),colunas.index(colunas_filtro[1]),colunas.index(colunas_filtro[2])]
            
        else:
            lista_censo_matriculas_SE.append([line.split("|")[colunas_filtro_ix[0]], line.split("|")[colunas_filtro_ix[1]], line.split("|")[colunas_filtro_ix[2]]])
        if cnt % 1000000 == 0:
            print(cnt)

0
1000000
2000000
3000000
4000000
5000000
6000000
7000000
8000000
9000000
10000000
11000000
12000000
13000000
14000000
15000000
16000000
17000000
18000000
19000000
20000000

In [38]:
len(lista_censo_matriculas_SE)

20769773

In [39]:
df_censo_2017_matriculas_SE = pd.DataFrame(lista_censo_matriculas_SE,columns=colunas_filtro)

In [40]:
df_censo_2017_matriculas_SE = df_censo_2017_matriculas_SE[['CO_ENTIDADE', 'TP_ETAPA_ENSINO', 'ID_MATRICULA']].drop_duplicates()

In [41]:
df_censo_2017_matriculas_SE_agrupado = df_censo_2017_matriculas_SE.groupby(['CO_ENTIDADE', 'TP_ETAPA_ENSINO']).agg({'ID_MATRICULA':['count']}).reset_index()

In [42]:
len(df_censo_2017_matriculas_SE_agrupado)

332815

In [43]:
df_censo_2017_matriculas_SE_agrupado.to_pickle('df_censo_2017_matriculas_SE_agrupado')

In [44]:
lista_censo_matriculas_SE = []
del(df_censo_2017_matriculas_SE)

#### Juntando tudo num tabelao por escola

In [39]:
df_censo_2017_matriculas_CO_agrupado = pd.read_pickle("df_censo_2016_matriculas_CO_agrupado")
df_censo_2017_matriculas_NO_agrupado = pd.read_pickle("df_censo_2016_matriculas_NO_agrupado")
df_censo_2017_matriculas_SUL_agrupado = pd.read_pickle("df_censo_2016_matriculas_SUL_agrupado")

In [45]:
df_censo_2017_matriculas = pd.concat([df_censo_2017_matriculas_CO_agrupado, df_censo_2017_matriculas_NO_agrupado, df_censo_2017_matriculas_SUL_agrupado, df_censo_2017_matriculas_SE_agrupado, df_censo_2017_matriculas_NE_agrupado])

In [46]:
df_censo_2017_matriculas.columns = ['CO_ENTIDADE','TP_ETAPA_ENSINO','qtde_alunos']

In [47]:
list(df_censo_2017_matriculas)

['CO_ENTIDADE', 'TP_ETAPA_ENSINO', 'qtde_alunos']

In [48]:
# criando dummy que indica ensino medio
def ensino_medio (x):
    if x in ['25','26','27','28','29','30','31','32','33','34','35','36','37','38']:
        y = 1
    else:
        y = 0
    return y

In [49]:
df_censo_2017_matriculas['dumy_ensino_medio'] = df_censo_2017_matriculas['TP_ETAPA_ENSINO'].map(ensino_medio)

In [50]:
df_censo_2017_matriculas_total = df_censo_2017_matriculas.groupby(['CO_ENTIDADE']).agg({'qtde_alunos': ['sum']}).reset_index()

In [51]:
df_censo_2017_matriculas_medio = df_censo_2017_matriculas[df_censo_2017_matriculas['dumy_ensino_medio'] == 1].groupby(['CO_ENTIDADE']).agg({'qtde_alunos': ['sum']}).reset_index()

In [52]:
df_censo_2017_matriculas_resumo = df_censo_2017_matriculas_medio.merge(df_censo_2017_matriculas_total, how = 'inner', left_on = 'CO_ENTIDADE', right_on = 'CO_ENTIDADE')

/Applications/anaconda/lib/python3.6/site-packages/pandas/core/reshape/merge.py:862: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  self.right = self.right.drop(right_drop, axis=1)

In [53]:
df_censo_2017_matriculas_resumo.columns = ['CO_ENTIDADE','qtde_alunos_EM','qtde_alunos']

In [54]:
df_censo_2017_matriculas_resumo.to_pickle('df_censo_2017_matriculas_resumo')

In [56]:
len(df_censo_2017_matriculas_resumo)

28558